{% extends '::admin/base.html.twig' %}

{% block body %}
    {% include 'admin/message/includes/menu.html.twig' with {'corbeille_count': corbeille_count, 'nouveaux_count': nouveaux_count, 'messages_count': messages_count} %}
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Voir l'email</h3>
                <div class="box-tools pull-right">
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-read-info">
                    <h3>{{ message.sujet }}</h3>
                    <h5>De: {{ message.email }} <span class="mailbox-read-time pull-right">{{ message.date|date('d/m/Y à H:i:s') }}</span></h5>
                </div><!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                    <a class="btn btn-default btn-sm" data-toggle="tooltip" title="{% if message.corbeille %}Restaurer{% else %}Supprimer{% endif %}" href="{{ path('admin_message_supprimer', {id: id}) }}">
                        {% if message.corbeille %}
                            <i class="fa fa-ban text-red"></i>
                        {% else %}
                            <i class="fa fa-trash text-red"></i>
                        {% endif %}
                    </a>
                </div><!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                    <p>{{ message.message }}</p>
                </div><!-- /.mailbox-read-message -->
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.box-footer -->
            <div class="box-footer">
                <a class="btn btn-default" href="{{ path('admin_message_supprimer', {id: id}) }}">
                    {% if message.corbeille %}
                        <i class="fa fa-ban"></i> Restaurer
                    {% else %}
                        <i class="fa fa-trash-o"></i> Supprimer
                    {% endif %}
                </a>
            </div><!-- /.box-footer -->
        </div><!-- /. box -->
    </div><!-- /.col -->
{% endblock %}