{% extends '::admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <ul class="timeline">
            {% for date, download in downloads %}

                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-red">
                        {{ date }}
                    </span>
                </li>
                <!-- /.timeline-label -->
                {% for time, detail in download %}
                <!-- timeline item -->
                <li>
                    <!-- timeline icon -->
                    <i class="fa fa-download bg-blue"></i>
                    <div class="timeline-item" style="display: inline-block; width: 90%">
                        <span class="time">
                            <i class="fa fa-clock-o"></i> {{ time }}
                            <span class="label label-default label-xs"><i class="fa fa-plus"></i></span>
                        </span>

                        <h3 class="timeline-header" style="">
                            <strong>{{ detail.name }}</strong>
                            <small>a téléchargé votre CV</small>
                        </h3>

                        <div class="timeline-body" style="display: none;">
                            Vous pouvez contacter cette personne au <strong>{{ detail.phone }}</strong> ou lui envoyer un mail à <strong>{{ detail.email }}</strong>.
                        </div>

                        <div class="timeline-footer" style="display: none;">
                            <span class="label label-primary label-xs">{{ detail.company }}</span>
                        </div>
                    </div>
                    <a href="{{ path('admin_cv_supprimer', {dateTime: date ~ '-' ~ time}) }}">
                        <i class="fa fa-times-circle"></i>
                    </a>

                </li>
                {% endfor %}

            {% endfor %}

        </ul>
    </div><!-- /.col -->
{% endblock %}

{% block js %}
    <script>
        jQuery(function($) {
            $('.timeline-header').on('click', function(e) {
                $(this).css('cursor', 'pointer');
                $body = $(this).closest('.timeline-item').find('.timeline-body, .timeline-footer');
                $expand = $(this).closest('.timeline-item').find('.label').find('.fa');
                if ($body.is(':visible')) {
                    $body.slideUp();
                    $expand.removeClass('fa-minus').addClass('fa-plus');
                } else {
                    $body.slideDown();
                    $expand.removeClass('fa-plus').addClass('fa-minus');
                }
            });

        });
    </script>
{% endblock %}