<div class="parallax3">
    <div class="overlay-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="competences-chart">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box-content" id="scroll-competences">
                <h1>Compétences</h1>
                {% set i = 0 %}
                {% for competence in competences %}
                    <div class="col-md-12">
                        <div class="box-text">
                            <h2>{{ competence.name }}</h2>
                            {% for item in competence.items %}
                                {% set i = i + 1 %}
                                <div class="easy-pie easyPieChart" id="ep{{ i }}" data-value="{{ item.niveau }}" rel="tooltip" title="{{ item.legende|join(', ') }}">
                                    <span class="percent" >{{ item.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}


                <?php endforeach;?>
            </div>
        </div>
    </div>
</div>