
<!-- Logo -->
<a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Admin</b>LTE</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    {% if messages|length %}
                        <span class="label label-danger">{{ messages|length }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Vous avez {{ messages|length }} nouveau(x) message(s)</li>
                    {% if messages|length %}
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            {% for key, message in messages %}
                                <li><!-- start message -->
                                    <a href="{{ path('admin_message_voir', {id: key}) }}">
                                        <div class="pull-left">
                                            <img src="/admin/dist/img/avatar.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            {{ message.name }}
                                            <small><i class="fa fa-clock-o"></i> {{ message.date|ago }}</small>
                                        </h4>
                                        <p>{{ message.sujet }}</p>
                                    </a>
                                </li><!-- end message -->
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="footer"><a href="{{ path('admin_message_index') }}">Voir tous les messages</a></li>
                </ul>
            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-calendar"></i>
                    {% if evenements|length %}
                        <span class="label label-warning">{{ evenements|length }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Vous avez {{ evenements|length }} événement(s) aujourd'hui</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            {% for evenement in evenements %}
                                <li>
                                    <a href="{{ path('admin_calendrier_index') }}">
                                        <i class="fa fa-calendar" style="color: {{ evenement.color }}"></i> <strong>{{ evenement.title }}</strong> à {{ evenement.start|date('H:i') }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="footer"><a href="{{ path('admin_calendrier_index') }}">Voir le calendrier</a></li>
                </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/admin/dist/img/avatar.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">Steve David</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="/admin/dist/img/avatar.jpg" class="img-circle" alt="User Image">
                        <p>
                            Steve David - Développeur web
                            <small>Depuis avril 2013</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="text-center">
                            <a href="#" class="btn btn-default btn-flat">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->

            <!--
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
            -->
        </ul>
    </div>
</nav>